<!-- breadcrumb -->
<div class="breadcrumb-box">
	<div class="container">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a routerLink="/">Home</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">About Us</li>
		</ol>
	</div>
</div>

<!-- about-us -->
<div class="about-us py-5" id="about-us">
  <div class="container">
  <h3 class="huyen-title text-center">About us</h3>
  <div class="row py-md-5 p-sm-3">
    <div class="col-lg-6 ab-w3-img order-lg-0 order-2">
      <img src="assets/images/about1.jpg" alt="" class="img-fluid"/>
    </div>

    <div class="col-lg-6 order-lg-0 order-1">
      <div class="pt-0 mb-0">
        <h3 class="huyen-title">angular café</h3>
          <h4 class="huyen-sub py-3">
            Hương vị pha chế cà phê độc nhất
          </h4>
          <p class="lead short-text">
            Donec consequat sapien ut leo cursus rhoncus. Nullam dui mi,
            vulputate ac metus at, semper varius orci. Nulla accumsan ac elit in
            congue.
          </p>
          <hr class="my-4" />
          <p class="short-text">
            rerum hic tenetur a sapiente delectus reiciendis maiores alias
            consequatur aut consequat sapien ut leo cursus rhoncus. Nullam dui
            mi, vulputate ac metus .
          </p>
          <a class="btn btn-lg more-view scroll" href="#menu" role="button"
            >Learn more</a
          >
      </div>
    </div>
  </div>
</div>
</div>

<div class="about-bottom text-center py-5">
		<div class="container py-xl-5 py-lg-3">
			<p class="text-white">Angular Café</p>
			<h4 class="text-white mx-auto font-italic my-4">Experience The Amazing & Rich Flavour</h4>
		</div>
	</div>
