<app-banner></app-banner>
<!-- bread-Crumb -->
<app-bread-crumb [currentPages]="namePage" ></app-bread-crumb>
<!-- //// -->

<!-- about-us -->
<div class="about-us py-5" id="about-us">
  <div class="container">
    <h3 class="huyen-title text-center">About us</h3>
    <div class="row py-md-5 p-sm-3">
      <div class="col-lg-6 ab-w3-img order-lg-0 order-2">
        <img src="assets/images/about1.jpg" alt="" class="img-fluid" />
      </div>

      <div class="col-lg-6 order-lg-0 order-1">
        <div class="pt-0 mb-0">
          <h3 class="huyen-title">angular café</h3>
          <h4 class="huyen-sub py-3">
            Hương vị pha chế cà phê độc nhất
          </h4>
          <p class="lead short-text">
            Donec consequat sapien ut leo cursus rhoncus. Nullam dui mi,
            vulputate ac metus at, semper varius orci. Nulla accumsan ac elit in
            congue.
          </p>
          <hr class="my-4" />
          <p class="short-text">
            rerum hic tenetur a sapiente delectus reiciendis maiores alias
            consequatur aut consequat sapien ut leo cursus rhoncus. Nullam dui
            mi, vulputate ac metus .
          </p>
          <a class="btn btn-lg more-view scroll" href="#menu" role="button"
            >Learn more</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- about banner video -->
<div class="about-bottom text-center py-5">
  <div class="container py-xl-5 py-lg-3">
    <p class="text-white">Angular Café</p>
    <h4 class="text-white mx-auto font-italic my-4">
      Experience The Amazing & Rich Flavour
    </h4>
  </div>
</div>

<!-- about team -->
<div class="about-team py-5">
  <div class="container py-md-5 py-sm-3">
    <div class="py-lg-5 pt-sm-3 pb-sm-5 py-3 text-center">
      <h3 class="huyen-title">đội ngũ pha chế chuyên nghiệp</h3>
      <h4 class="huyen-sub py-3">diversity makes us unique</h4>
    </div>

    <!-- team grids -->
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-3 col-md-4 team-grids">
        <div class="team-effect">
          <img src="assets/images/t3.jpg" alt="t3" class="img-fluid" />
        </div>
        <div class="team-grid p-3 text-center">
          <h4>Thomson Doe</h4>
          <p>Executive Chef</p>
          <ul class="social-icons">
            <li class="facebook">
              <a routerLink="/">
                <span class="fab fa-facebook-f"></span>
              </a>
            </li>
            <li class="twitter">
              <a routerLink="/">
                <span class="fab fa-twitter"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- team middle -->
      <div class="col-lg-6 col-md-4 team-grids my-5">
        <div class="team-center-huyen">
          <h5 class="text-capitalize text-center">
            nghệ thuật pha coffee hoàn hảo
          </h5>
          <img src="assets/images/team.png" alt="" class="img-fluid" />
        </div>
      </div>
      <!-- //team middle -->
      <div class="col-lg-3 col-md-4 team-grids">
        <div class="team-grid text-center p-3">
          <h4>Smith Kevin</h4>
          <p>Head Chef</p>
          <ul class="social-icons">
            <li class="facebook">
              <a routerLink="/">
                <span class="fab fa-facebook-f"></span>
              </a>
            </li>
            <li class="twitter">
              <a routerLink="/">
                <span class="fab fa-twitter"></span>
              </a>
            </li>
          </ul>
        </div>
        <div class="team-effect">
          <img src="assets/images/t2.jpg" alt="t2" class="img-fluid" />
        </div>
      </div>
    </div>
    <!-- //team grids -->
  </div>
</div>
