* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: "Aileron Regular";
    font-size: 16px;
    color: #54565a;

    /* background-image: url(images/HERO.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:#464646; */
}

#bg-img {
    background: url(images/HERO.png) no-repeat center;
    background-size: cover;
}

h1 {
    font-size: 48px;
}

.main {
    padding-top: 166px;
    padding-bottom: 210px;
}

.main p {
    font-size: 21px;
}

.main button {
    background: #2f5bea;
    padding: 18px 33px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-family: "Aileron Bold";
    text-transform: uppercase;
}
/* For mobile devices */
/* @media only screen and (max-width: 767px) {
  body {
    background-image: url(images/HERO.png);
  }
} */

/* ---------header------------ */
.navbar-brand {
    font-size: 26px;
    font-family: "Aileron Bold";
}
header.container-fluid {
    margin-bottom: 159px;
}

.navbar.navbar-expand-lg.navbar-light {
    padding-left: 0;
    margin-left: 0;
    padding-top: 32px;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link,
.main {
    color: white;
}

.navbar-nav.right button {
    color: white;
    background: transparent;
    padding: 13px 22px;
    text-align: right;
    border-radius: 5px;
}

button.navbar-toggler {
    background: white;
}

/* ---------introduct---------- */
.introduct {
    margin: 0 auto;
    text-align: center;
}

.introduct h2,
.container.process h2,
.process2 h2,
.container-fluid.end h2 {
    font-family: "Aileron Bold";
    font-size: 34;
    margin-bottom: 22px;
    color: #2c2e30;
}

.introduct > p,
.container.process > p {
    padding-left: 144px;
    padding-right: 144px;
    margin-bottom: 79px;
}

.introduct h3,
.container.process h3 {
    font-size: 21px;
    margin-top: 12px;
    margin-bottom: 28px;
    color: #2c2e30;
    font-family: "Aileron Bold";
}
/* row */
.introduct .row {
    margin-bottom: 73px;
}

.introduct .right {
    padding-top: 39px;
    padding-left: 50px;
    text-align: left;
}

.introduct .left {
    /* float: left; */
    padding-right: 50px;
}

.introduct .right h2 {
    font-size: 28px;
    margin-bottom: 39px;
    color: #2c2e30;
    font-family: "Aileron Bold";
}

.introduct .right li {
    margin-bottom: 31px;
}

i {
    font-family: Serif;
}

.author {
    font-family: "Aileron SemiBold";
    color: #2c2e30;
}

hr {
    margin-top: 30px;
    margin-bottom: 27px;
}
/* icon */
.introduct .icon {
    height: 42px;
}

#browser-image {
    width: 100%;
}

/* --------------container process--------------- */
.container-fluid.second {
    background: #f6f8f9;
    padding-bottom: 170px;
    padding-top: 144px;
    margin-bottom: 170px;
}

.container-fluid.second hr {
    margin-top: 124px;
    margin-bottom: 140px;
}

.container.process {
    text-align: center;
}

.container.process a {
    padding-right: 11px;
}

.icon2 {
    width: 112px;
}

.container.process .left img {
    float: right;
}

.container.process .right {
    padding-left: 134px;
    text-align: left;
}

/* -------------------process2--------------- */
.process2 {
    text-align: left;
}

.process2 .align-center {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 105px;
}

.align-center p {
    padding-left: 285px;
    padding-right: 285px;
}

.process2 .expert {
    border: 1px solid rgb(224, 219, 219);
    border-radius: 10px;
}

.expert p {
    font-family: Serif;
    font-style: italic;
    padding-bottom: 38px;
}

.expert {
    position: relative;
}

.expert .author {
    position: absolute;
    bottom: 10px;
}

.col-md-4.col-sm-12.col-xs-12 .expert {
    margin-left: 8.5px;
    margin-right: 8.5px;
    padding: 8.5px 8.5px 8.5px 8.5px;
    height: 100%;
}

.process2 .partner {
    margin-bottom: 130px;
}

.partner a {
    padding-left: 100px;
}

.partner img {
    height: 37px;
}

/* ------section container-fluid end----- */
.container-fluid.end {
    text-align: center;
    color: white;
    background: #2f5bea;
    padding-top: 111px;
    padding-bottom: 133px;
}

.container-fluid.end h2 {
    color: white;
}

.container-fluid.end p {
    padding-left: 285px;
    padding-right: 285px;
    font-size: 18px;
}

.container-fluid.end button {
    padding: 18px 39px;
    border-radius: 10px;
    color: #2f5bea;
    background: white;
    font-family: "Aileron Bold";
    outline: none;
}

/* ------------footer--------------- */
footer.container {
    padding-top: 140px;
    padding-bottom: 140px;
}

footer.container h3 {
    font-size: 18px;
    font-family: "Aileron Bold";
    color: #2c2e30;
    margin-bottom: 20px;
}

footer .col-md-3.col-sm-6.col-xs-12.group {
    padding-left: 95px;
}

footer a {
    color: #54565a;
}

a:hover {
    color: black;
}
@media only screen and (max-width: 576px) {
    p,
    .container-fluid.end p,
    .align-center p,
    .introduct > p,
    .container.process > p,
    .container.process .right,
    .introduct .right,
    .introduct .left {
        padding-left: 15px;
        padding-right: 15px;
    }

    img.img-responsive {
        width: 100%;
    }

    .container.process .right {
        padding-top: 50px;
    }

    .author {
        font-size: 15px;
    }

    h1 {
        font-size: 34px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 18px;
    }
}

@media only screen and (max-width: 768px) {
    p,
    .container-fluid.end p,
    .align-center p,
    .introduct > p,
    .container.process > p,
    .container.process .right,
    .introduct .right,
    .introduct .left {
        padding-left: 15px;
        padding-right: 15px;
    }

    img.img-responsive {
        width: 100%;
    }

    .container.process .right {
        padding-top: 50px;
    }
}

/* 
@media only screen and  (min-width: 1200px) {
    header .container {
        left: calc((100% - 1140px)/2);
    }
}

@media only screen and  (min-width: 992px) {
    header .container {
        left: calc((100% - 960px)/2);
    }
}

@media only screen and  (min-width: 768px){
    header .container {
        left: calc((100% - 720px)/2);
    }
}

@media only screen and  (min-width: 576px){  
header .container {
        left: calc((100% - 540px)/2);
    }
} */
