* {
	box-sizing: border-box;
}

body {
	background: #f1f1f1;
	margin: 0;
}

h2 {
	margin: 0;
	padding-top: 10px;
	color: #0404B4;
}

a {
	text-decoration: none;
	text-align: center;
}

p {
	font-size: 18px;
}

.title p {
	font-size: 23px;
	font-weight: 700;
}

.wrap {
	max-width: 1050px;
	margin: auto;
}

/*add a card effect for articles*/
.card {
	background-color: white;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flex-container > div {
  margin: 15px;
}

/*fixed size image*/
img {
	max-width: 304px;
    transition: all 0.3s ease-in-out;  
}

.title {
	width: 304px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.52);
    position: absolute;
    bottom:50px;
    text-align: center;
    color: white;
    padding:30px;
    box-sizing: border-box;
    opacity: 0;
}

.animal {
	position: relative;
	overflow: hidden;
}
.animal:hover .title {
	opacity: 1;
	transform: translateY(50px);
	transition: all 0.3s ease-in-out;
}

.animal:hover img {
	transform: scale(1.2);
	transition: all 0.3s ease-in-out;
}

