<!-- <div class="banner" id="home">
		<div class="callbacks_container">
			<ul class="rslides callbacks callbacks1" id="slider3">
				<li id="callbacks1_s0" class="" style="display: block; float: none; position: absolute; opacity: 0; z-index: 1; transition: opacity 500ms ease-in-out 0s;">
					<div class="slider-info bg1">
						<div class="banner-text container">
							<h4 class="movetxt text-left mb-3 agile-title text-capitalize">the dream cafe coffee shop </h4>
							<div class="home">
								<div class="resizing-h3">
									<div class="stage">
										<div class="cubespinner">
											<div class="face1">
												<h3> ground beans</h3>
											</div>
											<div class="face2">
												<h3>freshly brewed</h3>
											</div>
											<div class="face3">
												<h3>espresso</h3>
											</div>
											<div class="face4">
												<h3>aftertaste</h3>
											</div>
										</div>
									</div>
								</div>
							</div>
							<a class="bt mt-4 text-capitalize scroll" href="#about" role="button"> read more
								<i class="fas fa-angle-double-right"></i>
							</a>
						</div>
					</div>
				</li>
				<li id="callbacks1_s1" style="display: block; float: none; position: absolute; opacity: 0; z-index: 1; transition: opacity 500ms ease-in-out 0s;" class="">
					<div class="slider-info bg2">
						<div class="banner-text container">
							<h4 class="movetxt text-left mb-3 agile-title text-capitalize">start the day with great taste</h4>
							<div class="home">
								<div class="resizing-h3">
									<div class="stage">
										<div class="cubespinner">
											<div class="face1">
												<h3> ground beans</h3>
											</div>
											<div class="face2">
												<h3>freshly brewed</h3>
											</div>
											<div class="face3">
												<h3>espresso</h3>
											</div>
											<div class="face4">
												<h3>aftertaste</h3>
											</div>
										</div>
									</div>
								</div>
							</div>
							<a class="bt mt-4 text-capitalize scroll" href="#about" role="button"> read more
								<i class="fas fa-angle-double-right"></i>
							</a>
						</div>
					</div>
				</li>
				<li id="callbacks1_s2" style="display: block; float: left; position: relative; opacity: 1; z-index: 2; transition: opacity 500ms ease-in-out 0s;" class="callbacks1_on">
					<div class="slider-info bg3">
						<div class="banner-text container">
							<h4 class="movetxt text-left mb-3 agile-title text-capitalize">the ultimate coffee experience </h4>
							<div class="home">
								<div class="resizing-h3">
									<div class="stage">
										<div class="cubespinner">
											<div class="face1">
												<h3> ground beans</h3>
											</div>
											<div class="face2">
												<h3>freshly brewed</h3>
											</div>
											<div class="face3">
												<h3>espresso</h3>
											</div>
											<div class="face4">
												<h3>aftertaste</h3>
											</div>
										</div>
									</div>
								</div>
							</div>
							<a class="bt mt-4 text-capitalize scroll" href="#about" role="button"> read more
								<i class="fas fa-angle-double-right"></i>
							</a>
						</div>
					</div>
				</li>
			</ul><ul class="callbacks_tabs callbacks1_tabs"><li class="callbacks1_s1"><a href="#" class="callbacks1_s1">1</a></li><li class="callbacks1_s2"><a href="#" class="callbacks1_s2">2</a></li><li class="callbacks1_s3 callbacks_here"><a href="#" class="callbacks1_s3">3</a></li></ul>
		</div>
	</div> -->
