@font-face {
    font-family: "Filxgirl";
    src: url("/22---animationcss/font/Filxgirl.TTF");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Valentine";
    src: url("/22---animationcss/font/I\ Found\ My\ Valentine\ -\ TTF.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Love_and_Passion";
    src: url("/22---animationcss/font/Love_and_Passion.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Feeling Lovely";
    src: url("/22---animationcss/font/Feeling\ Lovely.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    background: url("https://pixiefy.com/themes/the-heart/img/the-heart-body-bg.png");
}

div.container {
    -webkit-animation: anim1 20s infinite;
    animation: anim1 20s infinite;
    margin-top: 20px;
    padding-bottom: 20px;
}

div.row {
    padding-top: 20px;
    padding-bottom: 20px;
}

#slideshow {
    margin: auto;
    position: relative;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#slideshow > div.thumbnail {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

#slideshow img {
    width: 100%;
}

audio {
    display: none;
}

/* animation for p tag */
p {
    margin-left: 10px;
    margin-right: 10px;
    color: #0a94be;
    font-family: "Feeling Lovely";
    font-size: 23px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    -webkit-animation: type 10s steps(120, end);
    animation: type 10s steps(120, end);
}

p:nth-child(2) {
    -webkit-animation: type2 15s steps(120, end);
    animation: type2 15s steps(120, end);
}

p:nth-child(3) {
    -webkit-animation: type2 25s steps(120, end);
    animation: type2 25s steps(120, end);
}

p:nth-child(4) {
    -webkit-animation: type2 30s steps(120, end);
    animation: type2 30s steps(120, end);
}

p:nth-child(5) {
    -webkit-animation: type2 35s steps(120, end);
    animation: type2 35s steps(120, end);
}

h1 {
    -webkit-animation: blink 10s infinite;
    animation: blink 10s infinite;
    color: #0a94be;
    font-family: "Filxgirl";
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
}

@-webkit-keyframes type {
    from {
        width: 0;
    }
}

@keyframes type {
    from {
        width: 0;
    }
}

@-webkit-keyframes type2 {
    0% {
        width: 0;
    }
    50% {
        width: 0;
    }

    100% {
        width: 50;
    }
}

@keyframes type2 {
    0% {
        width: 0;
    }
    50% {
        width: 0;
    }

    100% {
        width: 50;
    }
}

/* keyword main */
@-webkit-keyframes blink {
    to {
        opacity: 0;
    }
}
@keyframes blink {
    to {
        opacity: 0;
    }
}

/* animation background */
@-webkit-keyframes anim1 {
    0% {
        background-image: url("https://pixiefy.com/themes/the-heart/img/footer-bg.png");
    }
    25% {
        background-image: url("/22---animationcss/images/hearts_on_red_background.jpg");
    }
    50% {
        background-image: url("/22---animationcss/images/declaration-of-love.jpg");
    }
}
@keyframes anim1 {
    0% {
        background-image: url("https://pixiefy.com/themes/the-heart/img/footer-bg.png");
    }
    25% {
        background-image: url("/22---animationcss/images/hearts_on_red_background.jpg");
    }
    50% {
        background-image: url("/22---animationcss/images/declaration-of-love.jpg");
    }
}

/* heart */
.the-heart-welcome-content {
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    margin: auto;
}

.tiny-heart {
    position: absolute;
    opacity: 0;
    background-color: #96327d;
    -webkit-box-shadow: 0px 0px 50px 4px rgba(150, 50, 125, 0.7);
    box-shadow: 0px 0px 50px 4px rgba(150, 50, 125, 0.7);
    -webkit-animation: animated-heart infinite ease-in;
    animation: animated-heart infinite ease-in;
}

.tiny-heart:before {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.tiny-heart:after {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.tiny-heart:before,
.tiny-heart:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #96327d;
}

@-webkit-keyframes animated-heart {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, 0) rotate(45deg);
        transform: translate(0, 0) rotate(45deg);
    }
    50% {
        opacity: 1;
        -webkit-transform: translate(0, -40%) rotate(45deg);
        transform: translate(0, -40%) rotate(45deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, -1000%) rotate(45deg);
        transform: translate(0, -1000%) rotate(45deg);
    }
}

@keyframes animated-heart {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, 0) rotate(45deg);
        transform: translate(0, 0) rotate(45deg);
    }
    50% {
        opacity: 1;
        -webkit-transform: translate(0, -40%) rotate(45deg);
        transform: translate(0, -40%) rotate(45deg);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, -1000%) rotate(45deg);
        transform: translate(0, -1000%) rotate(45deg);
    }
}

@media only screen and (max-width: 576px) {
    p {
        font-size: 16px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    p {
        font-size: 18px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    p {
        font-size: 18px;
    }

    div.container {
        margin-top: 50px;
    }
}
