<div class="fixed-menu" #stickyMenu [class.sticky]="sticky">
  <div class="container" style="position: relative">
  <nav class="navbar-menu">
    <span class="navbar-toggle">
      <i (click)="toggle()" class="fas fa-bars"></i>
    </span>

    <div class="brand">
      <a class="brand-logo" (click)="sendPages($event)" routerLink="/">
      <img id="logo" src="assets/images/logo.png" alt="logo" />
      angular café
      <img id="logo" src="assets/images/logo.png" alt="logo" />
    </a>
    </div>

    <ul class="main-nav" [class.active]="isToggle">
      <li *ngFor="let menu of menus">
        <a href="#"
          class="nav-links"
          [routerLink]="menu.routerLink"
          routerLinkActive="isActived"
          (click)="sendPages($event)">
          {{ menu.name }}
        </a>
      </li>
    </ul>
  </nav>
</div>

</div>

