.social-icons li {
  display: inline-block;

  a {
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    margin: 0 2px;
    display: inline-block;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -o-transition: 0.3s all;
    -ms-transition: 0.3s all;

    &:hover {
      opacity: 0.8;
    }
  }

  p {
    margin-right: 6px;
    font-size: 16px;
    color: #999;
  }

  &.facebook a {
    background: #3b5998;
  }

  &.twitter a {
    background: #1da1f2;
  }

  &.google a {
    background: #dc4a38;
  }

  &.linkedin a {
    background: #287bbc;
  }
}

