@import '~src/styles/icon/icon-social.scss';
.top-header {
  p {
    color: #343a40;
    margin-bottom: 0;
    line-height: 25px;
    font-size: 14px;
    font-weight: normal;
    line-height: 36px;
    height: 36px;

    &.text-dark a {
    color: #343a40;
    &:hover {
      text-decoration: underline;
      color: #a84b4e;
    }
}
  }
}

.middle-flex {
  a.login-button {
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: bold;
    background: #05c46b;
    padding: 8px 20px;
    border-radius: 4px;
    color: #fff;

    &:hover {
      opacity: 0.8;
      color: #a84b4e;
    }
  }

  .top-header-left {
    padding: 0 .5em;
  }
}
