<app-banner></app-banner>
<!-- bread-Crumb -->
<div class="breadcrumb-box">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        contact us
      </li>
    </ol>
  </div>
</div>
<!-- //// -->

<!-- map -->
<div class="pt-sm-5 pt-3 contact-us" id="contact">
  <h3 class="huyen-title text-center">contact us</h3>
  <h4 class="huyen-sub pt-sm-3 pb-sm-5 pt-2 pb-4 text-center">
    send us a note
  </h4>
  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14896.415131556188!2d105.775553!3d21.028533!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab69f923a7d3%3A0xc4846eb8a8ebb1d!2zS2jDoWNoIHPhuqFuIEjDoCBO4buZaSBEYWV3b28!5e0!3m2!1svi!2sus!4v1570465480325!5m2!1svi!2sus"
      width="600"
      height="450"
      frameborder="0"
      style="border:0;"
      allowfullscreen=""
    ></iframe>
    <!-- contact form -->
    <div class="contact-top">
      <form action="#" method="get" class="f-color">
        <div class="form-group">
          <label for="contactusername">Name</label>
          <input
            type="text"
            class="form-control"
            id="contactusername"
            required=""
          />
        </div>
        <div class="form-group">
          <label for="contactemail">Email</label>
          <input
            type="email"
            class="form-control"
            id="contactemail"
            required=""
          />
        </div>
        <div class="form-group">
          <label for="contactcomment">Your Message</label>
          <textarea
            class="form-control"
            rows="5"
            id="contactcomment"
            required=""
          ></textarea>
        </div>
        <button
          type="submit"
          class="btn btn-block bg-light mt-4 py-3 text-uppercase font-weight-bold"
        >
          Submit
        </button>
      </form>
    </div>
    <!-- //// -->
  </div>
</div>
<!-- //// -->
<div class="details-bg">
  <div class="contact-main mx-auto py-5">
    <div class="row contact-left">
      <div class="col-md-6 align-self-center text-center p-md-0 p-3">
        <h5 class="pb-3 text-capitalize">opening time</h5>
        <img
          src="assets/images/f1.jpg"
          class="img-fluid"
          alt=""
        />
      </div>
      <div class="col-md-6 bg-list">
        <ul class="list-group list-group-flush ">
          <li class="list-group-item border-0">Monday - Friday</li>
          <li class="list-group-item border-0 font-weight-bold">
            07:00 - 23:00 Hours
          </li>
          <li class="list-group-item border-0">Saturday- Sunday</li>
          <li class="list-group-item border-0 font-weight-bold">
            08:00 - 01:00 Hours
          </li>
        </ul>
      </div>
    </div>
    <div class="row contact-right">
      <div class="col-md-6 bg-add">
        <address class="p-3">
          <p>360 Kim Ma Street, Ha Noi</p>
          <p>+84 983 031 993</p>
          <p></p>
          <p>
            <a href="mailto:nguyenhuuduc8@gmail.com" class="text-dark"
              >nguyenhuuduc8@gmail.com</a
            >
          </p>
        </address>
      </div>
      <div class="col-md-6 align-self-center text-center p-md-0 p-3">
        <h5 class="pb-3 text-capitalize">Reservation</h5>
        <img
          src="assets/images/f2.jpg"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
  </div>
  <!-- //contact details container -->
</div>
