/* ---------image-frame---------- */
#blog .left-option .card-image div {
    padding-bottom: calc(100% * 352 / 853);
    position: relative;
}

#blog .right-option .card-image div {
    padding-bottom: calc(100% * 170 / 283);
    position: relative;
}

#blog .left-handbook .card-image div {
    padding-bottom: calc(100% * 213 / 366);
    position: relative;
}

#blog .right-handbook .card-image div {
    padding-bottom: calc(100% * 110 / 183);
    position: relative;
}

#blog .newest-view .card-image div {
    padding-bottom: calc(100% * 90 / 120);
    position: relative;
}

#blog .newest-view .advertise .card-image div {
    padding-bottom: calc(100% * 300 / 269);
    position: relative;
}
/* ------active-link------ */
#blog .active-link {
    font-style: italic;
    font-size: 14px;
    line-height: normal;
    margin: 7px 0;
}

#blog #active-now {
    color: #144c96;
}

#blog #active-now::after {
    content: "•";
    padding-left: 8px;
    padding-right: 8px;
    font-style: normal;
    color: #bbbbbb;
}

/* -----cheap-tour----- */
#blog p {
    line-height: normal;
}

#blog .active-link p {
    margin-top: 7px;
    margin-bottom: 7px;
}

#blog .cheap-tour {
    padding-top: 21px;
    padding-bottom: 19px;
    justify-content: center;
}

/* left option */
#blog .cheap-tour .banner-slide {
    position: relative;
}

#blog .cheap-tour .banner-slide .tour-title {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 13%;
}

#blog .tour-title p {
    color: white;
}

#blog .tour-title h2 {
    line-height: normal;
    color: white;
    padding-top: 4.625rem;
}

#blog .cheap-tour .col-md-3.col-12 {
    padding-left: 0px;
}

/* right option */
#blog .cheap-tour .right-option .above,
#blog .cheap-tour .right-option .below {
    position: relative;
}

#blog .cheap-tour .right-option .above {
    margin-bottom: 16px;
}

#blog .cheap-tour .right-option .tour-title {
    position: absolute;
    top: 60%;
    left: 5%;
}

#blog .tour-title h3 {
    line-height: normal;
    color: white;
}

#blog .right-option .tour-title p {
    font-style: italic;
    margin-bottom: 4px;
    font-size: 12px;
}

/* ----------tour-handbook------------- */
#blog .tour-handbook .travel-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    line-height: 1.33;
    height: 32px;
}

#blog .tour-handbook .col-md-5.left-handbook {
    padding-right: 0;
}

/* --date-view-- */
#blog .tour-handbook .date-view span::after {
    content: "•";
    padding-left: 5px;
    padding-right: 5px;
    color: #bbbbbb;
}

/* col-md-9 col-12 */
/* left */
#blog .tour-handbook .left-handbook p.short {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.57;
    color: #474747;
}

#blog .tour-handbook .left-column > .row {
    padding-bottom: 2.5rem;
}

#blog hr {
    margin-bottom: 2.5rem;
    border-top: 1.5px dotted #8c8b8b;
}

/* right */
#blog .tour-handbook .right-handbook .col-md-7 {
    padding-left: 0;
}

#blog .tour-handbook .right-handbook .col-md-5 {
    padding-left: 24px;
    padding-right: 10px;
}

#blog .tour-handbook .right-handbook .row {
    margin-bottom: 14px;
}

#blog .tour-handbook h3 {
    color: black;
}

/* col-md-3 col-12 */
#blog .tour-handbook .col-md-3.col-12 {
    padding-left: 8px;
}

#blog .tour-handbook .right-column .search-content {
    height: 20px;
    line-height: 1.25;
    padding-left: 7px;
    border-left: 2px solid #ff9300;
    text-transform: uppercase;
    margin-bottom: 10px;
}

/* input */
#blog .input-search input {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: solid 0.5px rgba(0, 0, 0, 0.12);
}

#blog .input-search ::placeholder {
    font-size: 12px;
    font-style: italic;
}

#blog .tour-handbook .right-column .input-search {
    height: 40px;
    position: relative;
    margin-bottom: 1.5rem;
}

#blog .tour-handbook .right-column .input-search i {
    width: 60px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #ff9300;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* button */
#blog .newest-view .view-option {
    display: flex;
    justify-content: space-between;
    padding-bottom: 9px;
}
#blog .newest-view .view-option button {
    text-transform: capitalize;
    padding-top: 8px;
    padding-bottom: 8px;
    outline: none;
    border: none;
    height: 36px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background: white;
}
#blog .newest-view .view-option button.active {
    flex: 50%;
    color: white;
    background-color: #144c96;
}
#blog .newest-view .view-option button.non-active {
    flex: 50%;
    border-bottom: 1px solid #144c96;
}

/* view-newest */
#blog .newest-view .col-md-5 {
    padding-right: 8px;
}

#blog .newest-view .col-7.col-md-7 {
    padding-left: 0;
}

#blog .newest-view h3 {
    font-size: 14px;
    line-height: 1.43;
    margin-bottom: 4px;
}

#blog .newest-view p.date-view {
    margin-bottom: 0;
}
#blog .newest-view .row {
    margin-bottom: 8px;
}

/* advertise */
#blog .newest-view .advertise {
    padding-top: 13px;
    padding-bottom: 20px;
}

#blog .newest-view .care-topic .search-content {
    line-height: normal;
}

#blog .newest-view .care-topic .topic {
    display: flex;
    flex-wrap: wrap;
}

#blog .newest-view .care-topic .topic button {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 4px 12px;
    height: 30px;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.12);
    font-size: 14px;
    line-height: 1.57;
    color: #484848;
    background-color: white;
}
