/* ----fonts---- */
@font-face {
    font-family: "SFProDisplayBold";
    src: url("/fonts/SF-Pro-Display-Bold.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SFProDisplayMedium";
    src: url("/fonts/SF-Pro-Display-Medium.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SFProDisplayRegular";
    src: url("/fonts/SF-Pro-Display-Regular.otf");
    font-weight: normal;
    font-style: normal;
}
/* ------------ */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "SFProDisplayRegular";
    font-size: 0.875‬rem;
    line-height: 1.5;
    color: black;
}

p {
    font-size: 0.875rem;
    color: #666666;
}

p.icon-plane {
    text-align: center;
    margin-top: 4px;
    margin-bottom: 20px;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 18px;
    line-height: normal;
}

.icon-plane img {
    width: 1rem;
}

h2 {
    font-family: "SFProDisplayBold";
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.33;
    margin-bottom: 0;
}

h3 {
    font-family: "SFProDisplayBold";
    font-size: 1rem;
    line-height: normal;
    letter-spacing: normal;
}

.travel-news h3 {
    font-size: 1.125rem;
}

/* -----header-on------ */
.header-on {
    margin-top: 10px;
    margin-bottom: 10px;
}

#logo {
    width: 197.7px;
    height: 60px;
}

#travel-service {
    height: 60px;
    width: 485.3px;
    text-align: center;
}

#hotline {
    text-align: right;
}

#hotline button {
    width: 203px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #0087ff;
    border: none;
    color: white;
    font-size: 14px;
}

.social-header {
    border-radius: 50%;
    margin: 8px 8px 8px 0;
    border: 1px solid;
    display: inline-block;
    width: 1.5rem;
    background: white;
    text-align: center;
}

.social-header i {
    color: #0087ff;
}

/* -----header-main---- */
.header-main {
    background-color: #144c96;
}

.navbar {
    padding: 0;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link.active {
    color: white;
    font-size: 16px;
    text-transform: capitalize;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.8125rem;
    padding-left: 1.8125rem;
}

.navbar-light .navbar-toggler {
    background: rgb(85, 136, 231);
}

.active {
    background-color: #056dff;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: white;
    background-color: #056dff;
}

/* -----con2-------- */
section.con2 {
    background: url(/images/pattern1.png) no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 2;
}

/* ----con3----- */
.con3 {
    padding: 2.5rem 0;
}

.con3 > .row {
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.con3 h2 {
    padding-top: 20px;
    line-height: 1.33;
    letter-spacing: normal;
}

.right > .row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

p.tour {
    font-family: "SFProDisplayMedium";
    font-size: 0.875rem;
    color: black;
}

p.tour-price {
    color: #ff0000;
    float: right;
}

p i.detail {
    color: #144c96;
    float: right;
}

p.booking,
p.tour-price {
    margin-top: 10px;
    margin-bottom: 8px;
    line-height: normal;
    letter-spacing: normal;
}

.booking img {
    margin-right: 0.5rem;
}

p.tour,
p.detail {
    margin-bottom: 10px;
    margin-left: 1.5rem;
    line-height: normal;
    letter-spacing: normal;
}

p.note {
    margin-top: 10px;
    margin-bottom: 9px;
    color: #ff0013;
}

div.brand-plane {
    height: 3.75rem;
    line-height: 3.75rem;
    text-align: center;
}

/* -----con4-------- */
section.con4 {
    background: url(/images/detail_image/bg.png) no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 2;
}

/* -----con5-------- */
section.con5 {
    width: 100%;
    height: 100%;
    background: url(/images/pattern.png) no-repeat center;
    background-size: cover;
    /* position: absolute; */
    z-index: 3;
}

/* -----con7-------- */
section.con7 {
    background: url(/images/bg-section-02-default.png) no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 2;
}

/* -----footer------ */
footer {
    background-color: #144c96;
}

footer .container {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

footer h3 {
    margin-bottom: 0;
}

footer h3,
footer li,
footer a,
footer p {
    color: white;
}

.logo-footer {
    margin-bottom: 1.5rem;
}

footer .icon img {
    margin-right: 0.5rem;
    width: 1rem;
}

.social div {
    border-radius: 50%;
    margin: 0 1rem 1rem 0;
    border: 1px solid;
    display: inline-block;
    width: 1.5rem;
    background: white;
    text-align: center;
}

.social i {
    color: #144c96;
}

footer li {
    font-size: 0.875rem;
    line-height: 22px;
    font-family: "SFProDisplayRegular";
    line-height: 1.57;
    margin-bottom: 3px;
}

footer li {
    position: relative;
    left: -12px;
}

footer li a {
    position: relative;
    left: 11px;
}

footer a:hover {
    color: #919699;
    text-decoration: none;
}

footer .line {
    width: 269px;
    background-color: #0087ff;
    border: solid 1px #0087ff;
    margin-top: 1.5rem;
    margin-bottom: 1.3125rem;
}

footer .three-line {
    max-width: 140px;
    height: 2px;
    background-color: #ff9d19;
    margin-top: 4px;
    margin-bottom: 15px;
}

.trade-ministry {
    margin-top: 5rem;
}
