/* ----fonts---- */
@font-face {
    font-family: "SFProDisplayBold";
    src: url("/fonts/SF-Pro-Display-Bold.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SFProDisplayMedium";
    src: url("/fonts/SF-Pro-Display-Medium.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SFProDisplayRegular";
    src: url("/fonts/SF-Pro-Display-Regular.otf");
    font-weight: normal;
    font-style: normal;
}
/* ------------ */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "SFProDisplayRegular";
    font-size: 0.875‬rem;
    line-height: 1.5;
    color: black;
}

p {
    font-size: 0.875rem;
    color: #666666;
}

p.icon-plane {
    text-align: center;
}

p.tour {
    font-family: "SFProDisplayMedium";
    font-size: 0.875rem;
    color: black;
}

p.tour-price {
    color: #ff0000;
    float: right;
}

p i.detail {
    color: #144c96;
    float: right;
}

h2 {
    font-family: "SFProDisplayBold";
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.33;
}

h3 {
    font-family: "SFProDisplayBold";
    font-size: 1rem;
    line-height: normal;
    letter-spacing: normal;
}

.travel-news h3 {
    font-size: 1.125rem;
}

/* -----footer------ */
footer {
    background-color: #144c96;
}

footer .container {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

footer h3 {
    margin-bottom: 0;
}

footer h3,
footer li,
footer a,
footer p {
    color: white;
}

footer li {
    font-size: 0.875rem;
    line-height: 22px;
    font-family: "SFProDisplayRegular";
    line-height: 1.57;
    margin-bottom: 5px;
}

footer hr {
    width: 140px;
    /* float: left; */
    height: 2px;
    background-color: #ff9d19;
    margin-top: 4px;
    margin-bottom: 15px;
    border: 0;
    border-top: none;
}

footer .line {
    width: 269px;
    background-color: #0087ff;
    border: solid 1px #0087ff;
}

.trade-ministry {
    /* margin-top: 3.875rem; */
    margin-top: 6rem;
}
