* {
	box-sizing: border-box;
}

body {
	background: #f1f1f1;
	font-family: Roboto,Helvetica,Arial,sans-serif;
	margin: 0;
}

h2 {
	margin: 0;
	padding-top: 10px;
	color: #0404B4
}

h3 {
	margin: 0;
	padding-top: 10px;
}

li {
	list-style-type: none;
	background-color: #5FB404;
	color: white;
	padding: 5px;
	margin: 3px; 
}

li:hover {
	background-color: orange;
}

nav {
	display: flex;
	background-color: #5FB404;
	width: 100%;
}

nav a {
	text-decoration: none;
	color: white;
	font-size: 18px;
	font-weight: 700;
	padding: 15px;
}

nav a:hover:not(.active) {
	color: #8A0808;
}

p {
	font-weight: bold;
}

#logo {
	max-height: 110px;
	padding: 5px; 
}

/*fixed size image*/
.pokemon > img {
	border-radius: 16px;
	max-width: 285px;
	height: 189px;
	overflow: hidden;
    transition-duration: 0.5s;  
}

.pokemon > img:hover {
	transform: scale(1.2, 1.2);
}

.active {
	color: #8A0808;
}

.menu {
	flex: 80%;
	margin: 0;
	padding: 10px;
}

.search-zone {
	flex: 20%;
	margin: 0;
	padding: 10px;
}

.search-zone input[type="text"]{
    width:100%;
    border:1px solid blue;
    outline: none;
    background-color:#e0e0e0;
    padding: 4px;
}

.search-zone input[type="text"]:focus{
    background-color:white;
}

.wrap {
	max-width: 1100px;
	margin: auto;
}

.row-content {
	display: flex;
	flex-wrap: wrap;
}

.left {
	flex: 12%;
}

.middle {
	flex: 88%;
	padding-left: 20px;
}

/*add a card effect for articles*/
.card {
	background-color: white;
	margin-top: 10px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flex-container > div {
  margin: 15px;
  text-align: center;
}

/*.pokemon {
	border: 1px solid #5FB404;
	border-radius: 16px;
}*/

/*footer*/
.footer {
	padding: 20px;
	text-align: center;
	background: #ddd;
	color: white;
	margin-top: 20px;
}

