* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #060ab2;
}
/* buttone time */
#boxbuttons {
  text-align: center;
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#boxbuttons .button {
  text-transform: uppercase;
  background: #ee872a;
  padding: 5px 10px;
  margin: 5px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
#boxbuttons #reset:hover {
  background: rgb(61, 161, 207);
}
/* ----------------- */
.memory-game {
  width: 730px;
  height: 760px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(100% / 3 - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-card,
.back-card {
  width: 100%;
  height: 100%;
  padding: 5px;
  position: absolute;
  border-radius: 5px;
  background: #1c7ccc;
  backface-visibility: hidden;
}

.front-card {
  transform: rotateY(180deg);
}
