* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-y: scroll;
    background: url(/images/backGround1.jpg) repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    font: 18px consolas;
}

.wrap {
    margin: auto;
    padding: 15px;
    max-width: 1200px;
    height: 100%;
    /* border: 2px solid lime; */
}

/* click and reset */
#boxbuttons {
    text-align: center;
    margin: 20px;
    display: block;
}

#boxbuttons .button {
    text-transform: uppercase;
    background: #ee872a;
    padding: 5px 10px;
    margin: 5px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
#boxbuttons .button:hover {
    background: rgb(61, 161, 207);
}
/* -------------------------- */
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    perspective: 1000px;
}

img {
    width: 130px;
}

/* card */
.card {
    position: relative;
    margin: 5px;
    transform-style: preserve-3d;
    transition: all 0.5s;
    transform: scale(1);
}

.card:active {
    transform: scale(0.97);
    transition: transform 0.2s;
}

.card.flip {
    transform: rotateY(180deg);
}

.card .back-card {
    position: absolute;
    top: 0;
    left: 0;
}

.card .front-card,
.back-card {
    backface-visibility: hidden;
}

.front-card {
    transform: rotateY(180deg);
}
