* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: #333;
}

.container {
    max-width: 650px;
    margin: 0 auto;
    background: rgb(226, 240, 188);
}
/*------------------Screen--------------------*/
.result {
    display: flex;
    justify-content: space-around;
}

.calculator-screen {
    margin: 5px;
    padding-right: 5px;
    width: 100%;
    font-size: 50px;
    height: 80px;
    background-color: #252525;
    color: #fff;
    text-align: right;
}

/*------------------Button--------------------*/
.buttons-all div {
    display: flex;
    margin: 5px;
    flex: 1;
    justify-content: space-around;
    text-align: center;
}

button {
    width: 80px;
    margin: 5px;
    font-weight: 600;
    font-size: 18px;
    background: linear-gradient(to bottom, #fff 0, #dfe1e5 100%);
    box-shadow: 1px 1px 0 rgba(17, 0, 0, 0.75);
    border-color: #c0c0c0 #7491a5 #0089e4 #c0c0c0;
    border-width: 1px;
    border-radius: 5px;
    border: 1px solid #cdd5e6;
    height: 50px;
    color: #414f5b;
    cursor: pointer;
}

.button-number {
    background: linear-gradient(to bottom, #fff 0, #ffffffa6 100%);
    font-size: 23px;
}

.button-equal {
    width: 170px;
    background: #4d8bf1;
    color: white;
}
