/* footer */
@import '~src/styles/icon/icon-social.scss';

footer {
  background: #ccc7c7;
}

.copy-right p {
  color: #333;
  font-size: 1rem;
}

h4.footer-title {
  font-size: 2rem;
  color: #000;
  font-family: "Gentium Basic", serif;
  font-style: italic;
}

