<app-banner></app-banner>
<!-- bread-Crumb -->
<div class="breadcrumb-box">
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        services
      </li>
    </ol>
  </div>
</div>
<!-- //// -->

<!-- services -->
<div class="services text-center py-md-5 py3" id="serivces">
  <div class="cup-coffee"></div>

  <div class="container pb-5">
    <h3 class="huyen-title">
      services
    </h3>
    <h4 class="huyen-sub pt-3 pb-md-5 pb-0">
      Trải nghiệm cafe tuyệt đỉnh
    </h4>
    <!-- service row 1-->
    <div class="services-row row py-md-5">
      <div class="col-md-4 services-grids order-md-1 order-2">
        <span class="fas fa-utensils"></span>
        <h4 class="mt-2 mb-3">Service1</h4>
        <p class="short-text">
          Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores
        </p>
      </div>

      <div class="col-md-4 order-md-2 order-1 my-md-0 my-5">
        <img
          src="assets/images/services.jpg"
          alt="services"
          class="img-fluid"
        />
      </div>
      <div class="col-md-4 services-grids order-md-3 order-3 mt-md-0 mt-5">
        <span class="fab fa-hotjar"></span>
        <h4 class="mt-2 mb-3">Service2</h4>
        <p class="short-text">
          Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores
        </p>
      </div>
    </div>

    <!-- service row 2-->
    <div class="row py-lg-5 pt-md-0 pb-md-5">
      <div class="col-lg-3 col-md-6 services-grids">
        <span class="fas fa-spinner"></span>
        <h4 class="mt-2 mb-3">Service3</h4>
        <p class="short-text">
          Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores
        </p>
      </div>
      <div class="col-lg-3 col-md-6 services-grids mt-md-0 mt-5">
        <span class="fab fa-glide-g"></span>
        <h4 class="mt-2 mb-3">Service4</h4>
        <p class="short-text">
          Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores
        </p>
      </div>
      <div class="col-lg-3 col-md-6 services-grids mt-lg-0 mt-5">
        <span class="fas fa-shipping-fast"></span>
        <h4 class="mt-2 mb-3">Service5</h4>
        <p class="short-text">
          Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores
        </p>
      </div>
      <div class="col-lg-3 col-md-6 services-grids mt-lg-0 mt-5">
        <span class="fab fa-searchengin"></span>
        <h4 class="mt-2 mb-3">Service6</h4>
        <p class="short-text">
          Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores
        </p>
      </div>
    </div>
  </div>
</div>
