/* CSS for index.html */
* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.container {
	color: white;
	display: flex;
	text-align: center;
}

.left, .mid {
	flex: calc(100% / 3);
	padding-right: 15px;
}

.right {
	flex: calc(100% / 3);
}

.red, .blue, .green {
	height: 400px;
	line-height: 400px;
}
.red {
	background-color: red;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}